.containerModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addEventModalContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sendIt {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(125, 73, 177);
    font-weight: bold;
    min-width: 10rem;
    font-size: 3rem;
}

.EndDate select{
    margin: 2rem;
    font-size: 2rem;
    width: 6rem;
}

.inputsEvent input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    font-size: 3rem;
}

.eventSpanContainer{
    margin-top: 5rem;
}

.eventSpan {
    color: rgb(125, 73, 177);
    font-weight: bold;
    font-size: 3rem;
}

@media(min-width: 1100px){
    .EndDate select{
        margin: 2rem;
        font-size: 2rem;
        width: 10rem;
    }
}