
/* mobile first */

.BigcontainerModal{
    background-color: #423f3f;
    position: relative;

    width: 90%;
    height: 90%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.OpenEvents{
    width: 10.4rem;
    height: 3.4rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.calendar {
    display: block;
    position: relative;
    width: 90%;
    background: white;
    border: 1px solid lightgray;
    }

.header {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 115%;
     padding: 2.0rem 0;
     text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.column {
    width: calc(100%/7);
    /* assim tenho as colunas dos 7 dias da semana alinhadas */
    }
.column {
    flex-grow: 1;
    max-width: 100%;
    }


 /* arrows settings */
.icon {
    font-family: 'Material Icons', serif;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;

    cursor: pointer;
    transition: .15s ease-out;
}
.icon:hover {
    transform: scale(1.75);
    transition: .25s ease-out;
    color: dodgerblue;
}

.weekDays {
    font-weight: 400;
    color: gray;
    font-size: 70%;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    text-align: center;
    }
    
.cell {
    display: flex;
    position: relative;
    height: 9rem;
    border-right: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
    background: white;
    transition: 0.25s ease-out; 
    /* transicao pro white smoke */
}
.cell:hover {
    background:whitesmoke;
}

.selected {
border-left: 10px solid transparent;
border-image: linear-gradient(45deg, darkViolet 0%, violet 40%);
border-image-slice: 1;
}

.cell:last-child {
border-right: none;
}
.cell .numbers {
position: absolute;
font-size: 82.5%;
line-height: 1;
top: 1rem;
right: 1rem;
font-weight: 700;
}

.numbers{
    transition: 0.15s ease-in-out; 
}

.cell:hover .numbers {
    visibility: hidden; 
    /* tira visibilidade do numero principal no hover */
}

.disabledDays {
    /* dias cinzas do calendario */
color: lightgray;
pointer-events: none; 
}

#paintIt {
    background-color: red !important; 
}

.numbersHover {
font-weight: 700;

color: violet;
opacity: 0;
font-size: 4.2rem;
}

.cell:hover .numbersHover, .calendar .Calendarbody .selected .numbersHover  {
opacity: 0.4;
transition: .5s ease-in;
}

Calendarbody {
    position: relative;
}

@media (min-width: 1100px){
    .numbersHover {
        font-weight: 700;
        
        color: violet;
        opacity: 0;
        font-size: 7rem;
        }
}

@media (min-width: 1400px){
    BigcontainerModal{
        max-width: 1920px;
        max-height: 1920px;
    }
    .BigcontainerModal{
        width: 90%;
        height: 80%;
    }
}